<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.isobar.data</string>
	<key>ProgramArguments</key>
	<array>
		<string>__WRAPPER__</string>
	</array>
	<key>WorkingDirectory</key>
	<string>__APP__</string>
	<key>StartInterval</key>
	<integer>300</integer>
	<key>RunAtLoad</key>
	<false/>
	<key>ProcessType</key>
	<string>Background</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PYTHONUNBUFFERED</key>
		<string>1</string>
	</dict>
</dict>
</plist>
